@use '../../sass/variables' as *;
@use '../../sass/mixins' as *;

.admin-product-item {
  width: 100%;
  transition: all 0.2s;
  border-bottom: 1px solid #000;

  &:hover {
    background-color: rgba($color--black, 0.05);
    cursor: pointer;
  }

  &:hover .admin-product-cta > *,
  &--active .admin-product-cta > * {
    display: block;
  }
}

.admin-product-content {
  height: 160px;

  @include responds(sm) {
    height: 120px;
  }

  & > span {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.admin-product-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;

  @include responds(sm) {
    font-size: 3.2rem;
  }

  & > * {
    display: none;
  }

  & > *:hover {
    color: $color--accent-violet;
    cursor: pointer;
  }
}

.admin-product__image {
  width: 100%;
  display: flex;
  justify-content: center;

  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid $color--accent-orange;
  }
}

.admin-product__name {
  padding: 1.2rem;

  display: flex;
  justify-content: center;

  & > h4 {
    width: 100%;
    height: 92%;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;

    @include responds(lg) {
      height: 92%;
    }

    @include responds(md) {
      -webkit-line-clamp: 6;

      height: 88%;
    }

    @include responds(sm) {
      -webkit-line-clamp: 5;
      height: 82%;
    }
  }
}

.admin-product__size {
  & > span {
    height: fit-content;
  }
}
