@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

@import './animations';
@import './functions';
@import './mixins';
@import './typography';
@import './variables';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-size: $font-size--default;
  font-family: 'Poppins', sans-serif;
  background: $color--background;
}
