@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Frank+Ruhl+Libre&family=Poppins:wght@300;400;500;600&display=swap');

@import './animations';
@import './functions';
@import './mixins';
@import './typography';
@import './variables';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include responds(lg) {
    font-size: 56.25%;
  }

  @include responds(md) {
    font-size: 50%;
  }

  @include responds(sm) {
    font-size: 43.75%;
  }
}

body {
  box-sizing: border-box;
  font-size: $font-size--default;
  font-family: 'Poppins', sans-serif;
  background: $color--background;
  scroll-behavior: smooth;
}

.container {
  width: $container--width-xl;
  margin: auto;

  @include responds(lg) {
    width: $container--width-lg;
  }

  @include responds(md) {
    width: $container--width-md;
  }

  @include responds(sm) {
    width: $container--width-sm;
  }
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a {
  color: $color--grey-light-2;
  text-decoration: none;
}

.f-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot-texture {
  position: absolute;
  background-image: url(../assets/img/dottexture-1.png);
  background-size: cover;
  background-position: center;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 99px;
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 99px;
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
