@use '../../sass/variables' as *;
@use '../../sass/mixins' as *;

.order-page {
  min-height: 100vh;
  background-color: $color--white;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;

  @include responds(md) {
    // grid-template-columns: 1fr;
    display: block;
  }
}

.order {
  &__form {
    padding: 1rem 2rem;
    height: fit-content;
  }

  &__list {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__items {
    max-height: 360px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 4px;
    }
  }

  &__item {
    // width: 360px;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  &__item-l {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 1.2rem;

    & > img {
      width: 50px;
      height: 50px;
      object-fit: cover;
      border-radius: 4px;
    }
  }

  &__item-content {
    width: 70%;
    & > h4 {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__item-r {
  }

  &__btn {
    width: 100%;
    padding: 1.4rem 0;
  }
}
