@use '../../../sass/variables' as *;
@use '../../../sass/mixins' as *;

.product-modal {
  width: 65vw;
  position: relative;
  padding: 1.5rem 0.8rem;
  max-height: 75vh;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  .content {
    display: flex;
    gap: 2rem;

    @include responds(lg) {
      margin-top: 2rem;
      flex-direction: column;
    }
  }

  .close {
    position: absolute;
    padding: 0.2rem 0.6rem;
    top: -8px;
    right: 0;

    cursor: pointer;
    font-size: 3.2rem;
  }

  &__images {
    width: 40%;
    height: 48rem;

    @include responds(lg) {
      width: 100%;
      height: 52rem;
    }
  }

  &__contents {
    width: fit-content;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 1.6rem;

    @include responds(lg) {
      width: 100%;

      margin-bottom: 2.4rem;
    }

    & h4 {
      white-space: nowrap;
      color: $color--grey-dark;
    }
  }

  &__title {
    color: $color--grey-dark-3;
  }

  &__rating {
    font-size: 2.2rem;
  }

  &__material {
    display: flex;
    gap: 1.2rem;
  }

  &__price {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 2rem;

    &--original {
      font-size: 1.8rem;
      color: $color--accent-red;
      position: relative;

      &::after {
        position: absolute;
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        top: 53%;
        left: 0;
        background-color: currentColor;
      }
    }

    &--sale {
      font-weight: 600;
      font-size: 2.8rem;
    }

    &--saleOff {
      font-size: 1.6rem;
      padding: 0.2rem 0.6rem;
      border-radius: 8px;
      background-color: $color--primary;
      box-shadow: 0 4px 12px rgba($color--primary, 0.8);
    }
  }

  &__sizes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;

    & > kbd {
      min-width: 6rem;
      padding: 0.2rem 0.4rem;
      text-align: center;
      border: 1px solid #000;
      user-select: none;
    }

    & > .active {
      background-color: rgba($color--accent-orange, 0.8);
    }
  }

  &__colors {
    display: none;
  }

  &__quantity {
    display: flex;
    align-items: center;
    gap: 2rem;
    user-select: none;

    & > span:nth-of-type(1),
    & > span:nth-of-type(3) {
      padding: 0.4rem 0.8rem;
      cursor: pointer;
    }
  }

  &__actions {
  }

  &__btn {
    text-transform: uppercase;
    font-size: 1.8rem;
    padding: 1.6rem 3.2rem !important;

    @include responds(lg) {
      width: 100%;
    }
  }
}
