@use '../../../sass/variables' as *;
@use '../../../sass/mixins' as *;

.home-products {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  &__heading {
    font-family: $font-family--frankLibre;
    font-size: 3.8rem;
    font-weight: 600;
  }

  &__types {
    display: flex;
    gap: 2rem;

    & > *:not(:first-child) {
      &::before {
        content: '';
        display: block;
        position: absolute;
        width: 1px;
        height: 40%;
        transform: translateY(-50%);
        top: 50%;
        left: -1rem;
        background-color: rgba($color--black, 0.8);
      }
    }
  }

  &__type {
    position: relative;
    padding: 0.8rem 0;
    font-family: $font-family--frankLibre;
    // text-transform: uppercase;
    font-weight: 300;
    font-size: 2.2rem;
    cursor: pointer;
    position: relative;

    @include responds(lg) {
      font-size: 1.6rem;
    }

    &:hover::after,
    &--active::after {
      width: 80% !important;
    }

    &::after {
      content: '';
      position: absolute;
      width: 0%;
      height: 2px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: $color--primary-dark;
      transition: all 0.3s;
    }
  }

  &__grid {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: center;
    gap: 2rem;

    min-height: 20rem;
    width: 100%;
    position: relative;

    @include responds(xl) {
      grid-template-columns: repeat(4, 1fr);
    }

    @include responds(xl) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include responds(md) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__btn {
    font-size: 1.8rem;

    @include responds(lg) {
      font-size: 1.6rem;
    }
  }
}
