@use '../../sass/variables' as *;

.product-card {
  width: 26rem;
  height: 40rem;
  background-color: $color--grey-light-1;
  color: $color--black;
  border-radius: 4px;
  transition: all 0.2s;

  display: flex;
  flex-direction: column;

  position: relative;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 1rem 2rem 3rem rgba($color--black, 0.1);
    cursor: pointer;
  }

  &__image {
    height: 70%;

    & > img {
      width: 100%;
      height: 100%;
      border-radius: 4px;
      object-fit: cover;
    }
  }

  &__content {
    flex: 1;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
  }

  &__rates {
    display: flex;
    gap: 0.4rem;
  }

  &__name {
    font-family: $font-family--frankLibre;
    width: 100%;
    height: 3.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    padding-top: 0.5rem;

    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  &__price {
    margin-top: auto;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  &__price-original {
    text-decoration: line-through;
    color: $color--accent-red;
    font-weight: 400;
    font-size: 1.6rem;
  }

  &__price-sale {
    font-weight: 500;
  }

  &__saleOff {
    position: absolute;
    top: 0;
    right: 0;
    // width: 5rem;
    text-align: center;
    padding: 1rem 0.8rem;
    font-size: 1.4rem;
    background-color: $color--accent-orange;
    border-top-right-radius: 4px;

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 99%;
      border-style: solid;
      border-width: 1.25rem;
    }

    &::after {
      left: 0;
      border-color: $color--accent-orange transparent transparent
        $color--accent-orange;
    }

    &::before {
      right: 0;
      border-color: $color--accent-orange $color--accent-orange transparent
        transparent;
    }
  }
}
