@use '../../../sass/variables' as *;

.btn {
  min-width: 8rem;
  width: fit-content;
  display: inline-block;

  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  user-select: none;

  border: 1px solid transparent;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
  text-align: center;

  font-size: inherit;

  &--horizontal {
    width: 100%;
  }

  &--outline {
    color: $color--grey-dark-3;
    border-color: $color--black;

    &-white {
      color: $color--white;
      border-color: $color--white;
    }

    &-primary {
      border-color: $color--primary;
    }
  }

  &--round {
    border-radius: 999px;
  }

  &--shadow {
    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 1rem 2rem rgba($color--black, 0.08);
    }
    &:active {
      transform: translateY(1px);
    }
  }

  &--primary {
    background-color: $color--primary;

    &-light {
      background-color: $color--primary-light;
    }

    &-dark {
      background-color: $color--primary-dark;
    }
  }

  &--orange {
    background-color: $color--accent-orange;
  }

  &--red {
    background-color: $color--accent-red;
    color: $color--white;
  }

  &--grey {
    background-color: $color--grey-dark;
    color: $color--white;
  }

  &--violet {
    background-color: $color--accent-violet;
    color: $color--white;
  }

  &--transparent {
    background-color: transparent;

    &:hover {
      background-color: rgba($color--black, 0.08);
    }
  }
}

.btn.disabled {
  opacity: 0.5;
  transform: translate(0);
  box-shadow: none;

  cursor: default;
}

.btn-title {
  color: currentColor;
}

.btn-icon {
  color: $color--black;
}

.btn-icon + .btn-title,
.btn-title + .btn-icon {
  margin-left: 1rem;
}
