@use '../../sass/variables' as *;
@use '../../sass/mixins' as *;

.admin-product-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.admin-product-wrapper {
  margin-top: 2rem;
  width: 100%;

  border-bottom: 1px solid #000;
  background-color: #ccc;
  padding: 6px 0;
}

// admin heading start
.admin-product-heading {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}

.admin-product-total {
  display: flex;
  gap: 1.2rem;
  font-size: 1.8rem;
}

.admin-product-search {
  width: 300px;

  @include responds(sm) {
    width: 200px;
  }
}
// admin heading end

.admin-product-footer {
  margin-top: 2rem;
}

.product {
  &__header-block {
    position: relative;
    text-align: center;
    user-select: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__header-block:not(:last-child)::after {
    position: absolute;
    content: '';
    top: 50%;
    right: 0;
    width: 1px;
    height: 70%;
    transform: translateY(-50%);
    background-color: $color--black;
  }
}

.admin-product-listitem {
  position: relative;
  flex: 1;
  // height: 78%;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.admin-product-icon {
  &.icon-create {
    font-size: 3.6rem;
  }
  &.icon-create:hover {
    cursor: pointer;
    color: $color--accent-violet;
  }
}
