@use '../../sass/variables' as *;
@use '../../sass/mixins' as *;

.checkout-container {
  width: 55%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  @include responds(lg) {
    width: $container--width-lg;
  }

  @include responds(md) {
    width: $container--width-md;
  }

  @include responds(sm) {
    width: $container--width-sm;
  }

  .checkout-header {
    width: 100%;
    padding: 1rem 0;
    margin-top: 4rem;
    // display: flex;
    // justify-content: space-between;
    border-bottom: 1px solid darkgrey;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;

    background-color: #ccc;
    border-radius: 4px;

    @include responds(sm) {
      grid-template-columns: repeat(5, 1fr);
    }

    .header-block {
      text-transform: capitalize;
      // width: 23%;

      &:nth-of-type(1) {
        @include responds(sm) {
          display: none;
        }
      }
      &:last-child {
        width: 8%;
      }
    }
  }

  .total {
    margin-top: 3rem;
    margin-left: auto;
    font-size: 3.6rem;
  }
}

.checkout-cta {
  width: 100%;
  margin: 2rem 0 4rem;
  display: flex;
  justify-content: flex-end;
}

.checkout-btn {
  padding: 1rem 2.5rem;
}
