@use '../../sass/variables' as *;
@use '../../sass/mixins' as *;

.admin-order {
  height: 100%;
  display: flex;
  flex-direction: column;
  &__header {
    margin-bottom: 2rem;
    display: flex;
    justify-content: flex-end;
  }

  &__search {
    width: 280px;
  }

  &__heading {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 36rem repeat(2, 1fr);
    justify-items: center;
    gap: 8px;

    border-bottom: 1px solid $color--black;
    background-color: $color--grey-dark-2;

    @include responds(lg) {
      display: none;
    }
  }

  &__title {
    display: flex;
    justify-content: center;
  }

  &__list {
    position: relative;
    flex: 1;
    // height: 48rem;
    overflow: auto;

    @include responds(lg) {
      width: 100%;
      height: fit-content;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }

    @include responds(md) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 36rem repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    gap: 8px;
    border-bottom: 1px solid #000;

    &:nth-of-type(2n + 2) {
      background-color: rgba($color--black, 0.05);
    }

    &:hover {
      cursor: pointer;
      background-color: rgba($color--black, 0.15);
    }

    @include responds(lg) {
      width: 100%;
      padding: 1rem 2rem;
      display: flex;
      flex-direction: column;
      border: 2px solid #ccc;
      border-radius: 8px;
      background-color: $color--grey-light-1;
      box-shadow: 0 4px 12px rgba($color--accent-orange, 0.15);
    }
  }

  &__content {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 8px 0;

    overflow: hidden;

    @include responds(lg) {
      justify-content: space-between;
    }

    &:not(:first-child) > span:nth-of-type(1) {
      display: none;

      @include responds(lg) {
        display: block;
      }
    }

    &-created {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include responds(lg) {
        flex-direction: row;
      }
    }

    &-customer > h4 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__content:nth-of-type(1) {
    @include responds(lg) {
      border-bottom: 1px solid #ccc;
    }
  }

  &__products {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 10px;

    @include responds(lg) {
      justify-content: flex-end;
      padding: 0;
      width: 200px;
    }
  }

  &__product {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    &-name {
      width: 70%;

      & h4 {
        display: inline-block;
        width: fit-content;
        max-width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    &-options {
      display: flex;
      gap: 0.8rem;
    }
  }

  &__status {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2px 8px;

    border-radius: 4px;
    background-color: $color--accent-orange;
    color: $color--white;

    text-align: center;
    font-size: 1.2rem;

    @include responds(lg) {
      padding: 0;
      background-color: transparent;
      color: $color--black;
    }

    & > :first-child {
      display: none;

      @include responds(lg) {
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $color--accent-orange;
      }
    }

    &.cancelled {
      background-color: rgba($color--accent-red, 0.95);
      color: $color--white;

      @include responds(lg) {
        background-color: transparent;
        color: $color--black;
      }

      & > :first-child {
        background-color: $color--accent-red;
      }
    }

    &.confirm {
      background-color: rgba($color--accent-blue, 0.95);
      color: $color--white;

      @include responds(lg) {
        background-color: transparent;
        color: $color--black;
      }

      & > :first-child {
        background-color: $color--accent-blue;
      }
    }

    &.shipping {
      background-color: rgba($color--accent-violet, 0.95);
      color: $color--white;

      @include responds(lg) {
        background-color: transparent;
        color: $color--black;
      }

      & > :first-child {
        background-color: $color--accent-violet;
      }
    }

    &.success {
      background-color: rgba(#33ad40, 0.95);
      color: $color--white;

      @include responds(lg) {
        background-color: transparent;
        color: $color--black;
      }

      & > :first-child {
        background-color: $color--accent-violet;
      }
    }

    &.return {
      background-color: rgba($color--accent-yellow, 0.95);
      color: $color--white;

      @include responds(lg) {
        background-color: transparent;
        color: $color--black;
      }

      & > :first-child {
        background-color: $color--accent-yellow;
      }
    }
  }

  &__footer {
    margin-top: 2rem;
  }
}
