@use '../../sass/variables' as *;
@use '../../sass/mixins' as *;

.products {
  min-height: 100vh;

  &__icon {
    display: flex;
    align-items: center;
    font-size: 1.6rem;

    &:nth-of-type(1),
    &:nth-of-type(2) {
      color: $color--grey-light-2;
      background: linear-gradient(
        to top right,
        $color--primary-light,
        $color--primary-dark
      );
    }
  }

  &__grid {
    margin-top: 2rem;
    margin-right: 2rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;

    @include responds(xl) {
      margin: 0 2rem;

      grid-template-columns: repeat(4, 1fr);
    }

    @include responds(lg) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include responds(md) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__footer {
    margin-top: 4rem;
    margin-bottom: 2rem;
  }
}

.filter-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  & > h2 {
    color: $color--grey-dark-2;
  }

  & > :nth-child(2):hover {
    opacity: 0.6;
    cursor: pointer;
  }
}
