@use '../../sass/variables' as *;
@use '../../sass/mixins' as *;

.products {
  min-height: 100vh;
  padding-top: 10rem;

  &__filters {
    padding: 4rem 0;
    display: flex;
    justify-content: space-between;

    & label {
      font-family: $font-family--frankLibre;
      font-size: 1.8rem;
    }

    & select {
      padding: 0.4rem 0.8rem;
      outline: none;
      border-radius: 4px;
    }
  }

  &__filters-l {
    display: flex;
    gap: 2rem;
  }

  &__filters-r {
    display: flex;
    gap: 2rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;

    @include responds(xl) {
      grid-template-columns: repeat(4, 1fr);
    }

    @include responds(lg) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include responds(md) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__pagination {
  }
}
